body
{
	background-color:#003f54;
}
h1
{
	text-align:center;
	text-shadow: 5px 5px 5px #800080;
}
#header
{
	border-style:outset;
	border-color:#99FF99;
	border-width:10px;
}
#photo
{
	border-radius: 25px;
	background:url("20140504175833_5NtH5.JPG");
	background-size:100px 100px;
	background-repeat:repeat;
	padding:20px;
	width:80px;
	height:80px;
}
#Menu-Top
{
	width:1000px;
	height:40px;
	background-color:#FFAA33;
	
}
#menu-left
{
	width:300px;
    height:500px;
	background-color:#5555FF;
	float:left;
	
}
#menu-right
{
	width:300px;
	height:500px;
	background-color:#5555FF;
	float:right;
	
}
#Content
{
	background-color:#CCDDFF;
	width:1000px;height:1000px;
}
#Content_1
{
	width:394;
	height:300;
	border-style:solid;
	border-width:3px;
}